build/**
/build**
src/build/*
src/build/**
compile_commands.json
src/.cache/clangd
obj-**

# IDE Configurations
.vscode
.zed
.qtcreator**
.vs

# Debian packaging
debian/unraid-usb-creator/**
debian/unraid-usb-creator-amd64/**
debian/unraid-usb-creator-embedded/**
debian/.debhelper**
debian/*.debhelper**
debian/files
debian/*.substvars
debian/debhelper**
debian/tmp

# macOS
.DS_Store
*.DS_Store
# editor backups
*.*swp*
Releases 
*.dmg

# AppImage related
*.AppImage*
*.appimagecraft*
AppDir-*
appimage-*
.artifacts/
tools-dir/


# Qt related
qt-build
qt-src
build
build-aarch64
build-x86_64

