name: Build Ubuntu .deb

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
          sudo apt update
          sudo apt install -y --no-install-recommends build-essential devscripts debhelper cmake git libarchive-dev libcurl4-gnutls-dev
          sudo apt install -y --no-install-recommends qtbase5-dev qtbase5-dev-tools qtdeclarative5-dev libqt5svg5-dev qttools5-dev libgnutls28-dev
          sudo apt install -y --no-install-recommends qml-module-qtquick2 qml-module-qtquick-controls2 qml-module-qtquick-layouts qml-module-qtquick-templates2 qml-module-qtquick-window2 qml-module-qtgraphicaleffects

    - name: Build
      run: debuild -uc -us
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Deb
        path: ${{github.workspace}}/../unraid-usb-creator-*.deb
