name: Build Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:

  build:
    runs-on: ubuntu-latest
    container: ghcr.io/${{ github.repository }}/usb-creator-mxe:latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure CMake
      run: |
        cmake src -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DQt5_DIR=/opt/mxe/usr/i686-w64-mingw32.shared/qt5/lib/cmake/Qt5

    - name: Build
      run: |
        cmake --build build --config ${{env.BUILD_TYPE}}
        
    - name: Run NSIS
      run: |
        i686-w64-mingw32.shared-makensis build/unraid-usb-creator.nsi
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: WindowsInstaller
        path: usb-creator-next//build
