name: Build and Push Docker Image

on:
  workflow_dispatch: # Enables manual triggering of the workflow via a button push

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          file: src/windows/Dockerfile.win64dyn
          tags: ghcr.io/${{ github.repository }}/qt6-mxe-env:latest
